:root{
    --primary-color: #000000;
    --secondary-color: #000000;
    --black-color: #000000;
    --white-color: #000000;
    --warning-color: #000000;
    --danger-color: #000000;
    --muted-color: #000000;
    --success-color: #000000;
}

.text-primary{
 	color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}
.text-success{
    color: var(--success-color);
}
