:root{
    --primary-color: #000000;
    --secondary-color: #000000;
    --black-color: #000000;
    --white-color: #000000;
    --warning-color: #000000;
    --danger-color: #000000;
    --muted-color: #000000;
    --success-color: #000000;
}

.text-primary{
 	color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}
.text-success{
    color: var(--success-color);
}
.text-warning{
    color: var(--warning-color);
}
.text-danger{
    color: var(--danger-color);
}
.text-muted{
    color: var(--muted-color);
}
.text-white{
    color: var(--white-color)

}
.text-black{
    color: var(--black-color);

}
